<footer>
  <div class="footer-box">
    <h4> ATENDIMENTO AO CLIENTE</h4>
    <p>Entre em contato</p>
    <p>Política de vendas</p>
    <p>Perguntas frequentes</p>
  </div>
  <div class="footer-box">
    <h4>FORMAS DE PAGAMENTOS</h4>
    <div class="cartoes-box">
      <ul>
        <li>
          <img src="assets/img/logos/logo_master.png" alt="">
        </li>
        <li>
          <img src="assets/img/logos/logo-visa.png" alt="">
        </li>
        <li>
          <img src="assets/img/logos/logo-pay.png" alt="">
        </li>
        <li>
          <img src="assets/img/logos/logo-boleto.png" alt="">
        </li>
      </ul>
  </div>
  </div>
  <div class="footer-box">
    <h4>REDES SOCIAS</h4>
    <div class="cartoes-box">
      <ul>
        <li>
          <img class="redes" src="assets/img/logos/facebook.png" alt="">
        </li>
        <li>
          <img class="redes" src="assets/img/logos/whatsapp.png" alt="">
        </li>
        <li>
          <img class="redes" src="assets/img/logos/twitter.png" alt="">
        </li>
        <li>
          <img class="redes" src="assets/img/logos/instagram.png" alt="">
        </li>
      </ul>
  </div>
  </div>
</footer>
