<footer>
  <div class="footer-atendimento">
    <h4> ATENDIMENTO AO CLIENTE</h4>
    <a href="https://api.whatsapp.com/send?phone=+5519999999999&text=Texto%20aqui" target="_blank">
      <p>Entre em contato</p>
    </a>
    <a href="https://www.casadocodigo.com.br/pages/politica-de-privacidade" target="_blank">
      <p>Política de vendas</p>
    </a>
    <a href="https://suporte.casadocodigo.com.br/" target="_blank">
      <p>Perguntas frequentes</p>
    </a>
  </div>
  <div class="footer-pagamento">
    <h4>FORMAS DE PAGAMENTOS</h4>
    <div class="cartoes-box">
      <ul>
        <li>
          <img src="assets/img/logos/logo_master.png" alt="">
        </li>
        <li>
          <img src="assets/img/logos/logo-visa.png" alt="">
        </li>
        <li>
          <img src="assets/img/logos/logo-pay.png" alt="">
        </li>
        <li>
          <img src="assets/img/logos/logo-boleto.png" alt="">
        </li>
      </ul>
  </div>
  </div>
  <div class="footer-box">
    <h4>REDES SOCIAS</h4>
    <div class="cartoes-box">
      <ul>
        <li>
          <a href="http://www.facebook.com.br" target="_blank">
            <img class="redes" src="assets/img/logos/facebook.png" alt="">
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=+5519999999999&text=Texto%20aqui" target="_blank">
            <img class="redes" src="assets/img/logos/whatsapp.png" alt="">
          </a>
        </li>
        <li>
          <a href="http://www.twitter.com.br" target="_blank">
            <img class="redes" src="assets/img/logos/twitter.png" alt="">
          </a>
        </li>
        <li>
          <a href="http://www.instagram.com.br" target="_blank">
            <img class="redes" src="assets/img/logos/instagram.png" alt="">
          </a>
        </li>
      </ul>
  </div>
  </div>
</footer>
