body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;

    list-style: none;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: #FFF;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    margin: 0;
    padding: 5px;
    max-width: 700px;

}


img{
  max-width: 100%;
  border-radius: 3px;
}


.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
  height: 90px;
  background-color: var(--azul);

}

.logo{
  width: 200px;
  display: none;

}


.categorias{
  justify-content: center;
  border-top: 1px solid var(--branco);
  background-color: var(--azul);

}

.categorias button{
  display: flex;
  border: none;
  background: var(--azul);
  color: #ffff;
  font-size: 1rem;
  padding: 13px 40px 10px 40px;
  height: 52px;

}

.categorias p{
  color: #FFF;
  padding-left: 10px;

}


.search-container{
  width: 100%;
}

.search-container form{
  display: flex;
  margin-right: 20px;
  border: 1px solid #E5E5E5,
}

.search-container input{
  border: 1px solid #E5E5E5;
  width: 80%;
  height: 42px;
  display: flex;
  padding: 0 20px;
  font-size: 1rem;
}

.search-container button{
  border: 0;
  width: 19%;
  height: 44px;
  border: 1px solid #E5E5E5;
  background-color: #FFF;
}

.search-container i{
  font-size: 1.2rem;
}


.banner-container{
  width: 100%;
  display: flex;
}

.banner img{
  width: 100%;
}

.navbar-menu{
  display: flex;
  align-items: center;
}

.galeria {
    margin: 0 auto;
    max-width: 1000px;
}

.galeria h2{
    text-align: center;
    margin: 50px 0;

}

.galeria > div {
    margin: 10px;
}

.card_botao{
  width: 100%;
  height: 50px;
  margin-top: 20px;
}


@media screen and (min-width:500px) {

  .logo{
    display: flex;
    width: 210px;
    margin-right: 40px;

  }

  .search-container input{
    padding-right: 20%;
  }



  .full-banner {
    height: 200px;
    padding: 0 30px;
}

  .galeria>div{
      display: inline-block;
      max-width: 45%;
  }


}

@media screen and (min-width:1080px) {

    .header{
      padding: 0 200px;
      flex-direction: row;
      grid-template-columns: 30% 30% 30%;
    }


    .logo{
      width: 280px;
    }

  .carrinho-box {
    padding-left: 40px;
  }

  .categorias{
    justify-content: left;
    padding: 0 170px;
  }


  .search-container form{

    padding: 0 200px;
  }


  .search-container input{

    width: 55%;
    height: 42px;

  }

  .search-container button{
    border: 0;
    width: 14%;
    height: 44px;
    border: 1px solid #E5E5E5;
  }



  .galeria>div{
      max-width: 30%;
      display: inline-block;
  }

}
