<mat-toolbar class="header">
  <span>
    <a href="">
      <img src="assets/img/logos/logo-branco.svg" alt="logo" class="logo">
    </a>
  </span>

  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Busque por título ou autor " name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <span class="carrinho-box">
    <a href="">
      <i class="material-icons carrinho"> shopping_cart</i>
    </a>
  </span>
</mat-toolbar>

<mat-toolbar class="categorias">
    <button>
      <mat-icon >menu</mat-icon>
      <p>Pesquise por categorias</p>
    </button>
</mat-toolbar>



