<div >
  <div class="galeria">
    <h2 class="chamada">Livros</h2>
    <div class="conteudo">
        <div *ngFor ="let livro of livros">
          <img class="capa" src="{{livro.capa}}" alt="">
          <div  class= "titulo">
            <h4  class="card_titulo">{{livro.titulo}}</h4>
          </div>
          <div class="autor">
            <h5 data-test="livro-autor">{{ livro.autor.nome }}</h5>
          </div>
          <div class="botao">
            <button  class="card_botao" mat-raised-button color="primary" [routerLink]="['/detalhes', livro.id]">Saiba mais</button>
          </div>
        </div>
    </div>
  </div>

  <div class="pesquisaNaoEncontrada" *ngIf="!livros.length">
      <div class="box-erro">
        <img src="assets/img/logos/search.png" alt="lupa de procurar">
        <h3>Não encontramos nada com o termo digitado</h3>
        <h4>Por favor verifique sua pesquisa</h4>
        <p  [routerLink]="['']">Voltar a pagina inicial</p>
      </div>

  </div>







