section{
  background-color: #E5E5E5;
  height: auto;
  padding: 50px 0;
}


.produtos {
	width: 100%;
	display: flex;
  justify-content: center;
	padding: 50px 0;
}

.produtos li {
  background-color: #FFF;
	display:inline-block;
	text-align: center;
	width: 80%;
	vertical-align: top;
	margin: 0 0.8%;
  padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 5px;

}

.titulos h2{
  font-size: 28px;
  font-weight: 500;

}

.titulos h3{
  font-weight: 300;
}


.capa{
  width: 70%;
}




.produto-descricao {
	font-size: 18px;

}

.produto-preco {
	font-size: 22px;
	font-weight: 500;
	margin-top: 10px;
}

.box-preco{
  margin-right: 0px;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  padding: 0 0;
}

.box-preco p{
  letter-spacing: 1px;
}



.container {
  width: 50%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #EAEAEA;

}

.container h2{
  margin-bottom: 0px;
}

.box-titulo {
  text-align: left;
  display: inline-block;
  margin-right: auto;
  padding-left: 20px;
}

.box-capa img {
  height: 400px;

}


.card_botao{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: var(--azul);
  border: none;
  color: #FFF;
  font-size: 1rem;
  letter-spacing: 1px;
}

.card_botao:hover{
  background-color: #FFF;
  color: var(--azul);
  border: 2px solid var(--azul);
  transition: 0.3s;
}




.box-infos {
  display: block;
  align-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.box-infos h3{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}




table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #E5E5E5;
}

th,
td {
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #F2F2F2;
}



@media screen and (min-width:500px) {

.capa{
  width: 60%;
}

.titulos{
  display: grid;
  text-align: initial;
}

}


@media screen and (min-width:760px) {

  .produtos li {
    width: 50%;
  }

.capa{
  width: 45%;
}

.box-preco{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0;
}



  .card_botao{
    width: 40%;
    height: 40px;
    margin-top: 20px;
    background: var(--azul);
    border: none;
    color: #FFF;
    font-size: 1rem;
  }

}
