<section>

    <div>
			<ul class = "produtos" >
				<li>
          <div class="titulos">
            <h2>{{ livro.titulo }}</h2>
            <h3>{{ livro.subtitulo }}</h3>
            <h4>{{ livro.autor.nome }}</h4>
          </div>
					<img class="capa" src="{{ livro.capa }}">
					<div class="box-preco">
					  <p class="produto-preco">{{ livro.preco | currency: "BRL"  }}</p>
            <button class="card_botao" mat-raised-button color="primary" >Adicionar ao carrinho</button>
          </div>
				</li>
      </ul>
    </div>

    <div class="box-infos">
      <h3>Detalhes do produto</h3>

      <table class="mat-elevation-z2">
        <tbody>
          <tr>
            <td class="titulo-coluna">Número de páginas:</td>
            <td>{{ livro.numero_de_paginas}}</td>
          </tr>
          <tr>
            <td class="titulo-coluna">ISBN:</td>
            <td> {{ livro.isbn}} </td>
          </tr>
          <tr>
            <td class="titulo-coluna">Data de publicação:</td>
            <td> {{ livro.data_publicacao}} </td>
          </tr>
          <tr>
            <td>Sumario:</td>
            <td>
              <div class="sumario">
              <p>{{ livro.sumario }}</p>
            </div>
          </td>
          </tr>
          <tr>
            <td>Descrição:</td>
            <td>
              <div class="descricao">
              <p>{{ livro.categoria.descricao}}</p>
            </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
