<div class="galeria">

<div>
  <h2 class="chamada">LIVROS</h2>
</div>


  <div class="conteudo">
      <div *ngFor ="let livro of livros">
        <img class="capa" src="{{livro.capa}}" alt="">
        <div  class= "titulo">
          <h4  class="card_titulo">{{livro.titulo}}</h4>
        </div>
        <div class="botao">
          <button class="card_botao" mat-raised-button color="primary" [routerLink]="['/detalhes', livro.id]" >Saiba mais</button>
        </div>
      </div>
  </div>
</div>
