<div class="banner">
  <img src="assets/img/logos/banner-header.jpeg" alt="">
</div>

<div class="galeria-box">
  <h2 id="galeria">Livros</h2>

  <section class="galeria">
      <div class="card">
        <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
        <p  class="card_titulo">Título</p>
        <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
    <div class="card">
      <img class="card_imagem" src="assets/img/logos/capa-livro.webp" alt="">
      <p  class="card_titulo">Título</p>
      <button class="card_botao" mat-raised-button color="primary">Saiba mais</button>
    </div>
  </section>
</div>












